# Environment variables — JANGAN commit!
.env
.devcontainer
.vscode

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Streamlit cache
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db